/* M E N U */
#bigparent {
    font-family: 'Comfortaa', cursive;
    display: grid;
}

#parent{
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35px;
    padding: 1em;
    margin: -8px;
    background-color: rgba(208, 252, 255, 0.911);
}

.logo{
    display: grid;
    margin: -8px;
}

.inicio:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.comprar:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.sobreNosotros:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid rgb(87, 29, 248)
}

.buscador{
    display: grid;
    position: absolute;
    right: 350px;
    height: 25px;
    width: 200px;
    border-radius: 1em;
    border: 1px solid rgb(87, 29, 248)
}

.buscadorImg{
    position: absolute;
    right: 360px;
    top: 20px;
    height: 20px;
    width: 20px;
}

.carrito{
    position: absolute;
    left: 65em;
}

.carrito:hover {
    display: grid;
    width: 50px;
    border-radius: 2em;
    border: 3px solid #f9c
}

                                /* IMAGENES DE FONDO MONTAÑAS */

.montana1{
    width: 100px;
    height: 100px;
    padding: 500px;
    margin: 100px;
}

.montana2{
    max-width: 1px;
    max-height: 1px;
}

.logoM{
    max-width: 1px;
    max-height: 1px;
}

                            /* F O O T E R */

#footer{
    display: grid;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom:0%;
    background-color: rgba(138, 182, 185, 0.911);

}

.contactanos{
    display: grid;
    position: absolute;
    left: 45px;
    bottom: 1px;
    font-family: 'Comfortaa', cursive;
}

.whatsapp{
    display: grid;
    position: absolute;
    left: 20px;
    bottom: 15px;
    height: 20px;
    width: 20px;
}
