/* M E N U */
#bigparent {
    font-family: 'Comfortaa', cursive;
    display: grid;
}

#parent{
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35px;
    padding: 1em;
    margin: -8px;
    background-color: rgba(208, 252, 255, 0.911);
}

.logo{
    display: grid;
    margin: -8px;
}

.inicio:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.comprar:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.sobreNosotros:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid rgb(87, 29, 248)
}

.buscador{
    display: grid;
    position: absolute;
    right: 350px;
    height: 25px;
    width: 200px;
    border-radius: 1em;
    border: 1px solid rgb(87, 29, 248)
}

.buscadorImg{
    position: absolute;
    right: 360px;
    top: 20px;
    height: 20px;
    width: 20px;
}

.carrito{
    position: absolute;
    left: 65em;
}