/* M E N U */
#bigparent {
    font-family: 'Comfortaa', cursive;
    display: grid;
}

#parent{
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 35px;
    padding: 1em;
    margin: -8px;
    background-color: rgba(208, 252, 255, 0.911);
}

.logo{
    display: grid;
    margin: -8px;
}

.inicio:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.comprar:hover{
    display: grid;
    border-radius: 2em;
    border: 1px solid #f9c
}

.sobreNosotros:hover{
    
}
